/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navBar{
  display:flex;
  justify-content: space-between;
}
.logo{
  color:darkgoldenrod;
  text-shadow: 1px 1px 13px black;
  margin:2px 0px 0px 5px;
  letter-spacing: 5px;
  font-weight: 900; 
  font-size:xx-large;
  
}
.dir{
  font-size: large;
 list-style-type: none;
 margin-right: 160px;

 
}
a{
  color:gold;
  text-decoration: none;
}
.two{
  text-align: center;
  color:goldenrod;
}
.Logo-container{
 
  background-color: black;
}
.LogoImg{
 
  margin-left:32vw;
}
.gallery{
  width:24vw;
  display:flex;
  margin:2px;
  margin-left:4px;
}
.gallery-one{
  width:49vw;
}
.gallery-two{
  width:90vw;
 
  margin-left:5vw;
}
.contact{
  text-align: center;
  
}.Address{
  margin-left:40vw;
  margin-bottom: 30px;
}
.btn{
  width:200px;
  padding:20px;
  color:white;
  background-color: rgba(247, 211, 7, 0.9);
  border:none;
}
.btn-one{
  color:white;
  
}
.cafe-address{
  margin-left:20vw
}
li{
  list-style-type: none;
}
.head-review{
  font-weight: bolder;
  text-align: center;
}
.review{
  display:flex;
  width:75vw;
  
}
.review-one{
 margin-left:10vw;
}
.openning{
  margin-left:20vw;

}
li{
  font-weight: bold;
  font-size: medium;
}
